.nav-link {
  color: black
}
.fs-2{
  fontWeight : "600"
}
.btn{
  background-color: #3026d9;
  color: #ffffff;
}
.btn:hover{
  background-color: #191970;
  color: #ffffff;
}
@media screen and (min-width: 450px){
  #banner {
    display: block;
  }
  #bannerMobile{
    display : none;
  }
}
@media screen and (max-width: 450px) {
  .banner{
    display : none;
  }
  .info{
    width: 100%;
  }
  .gtable{
    width: 100%;
  }
  #banner{
    display : none;
  }
  #bannerMobile {
    display: block;
  }
}